html{
    scroll-behavior: smooth;
}

:root{
    --black: #000000;
    --green: #00FF00;
    --darkGreen: #008000;
    --white: #FFFFFF;
    --black: #000000;
    --bgGrey: #F5F5F5;
    --sleekGrey: #414141;
    --navBarColor: rgba(0,0,0,0);
    --navTextColor: #F2F2F2;
    --navBarHover: #DBDBDB;
    --navBarSelect: #829cd3;
    --titleColor: var(--green);
}

*{
    color: var(--fontColor);
    font-family: 'JetBrains Mono', monospace;
}

.main-theme
{
    --bg: var(--bgGrey);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

body{
    margin: auto;
    background: var(--bg);
}
  
#msg {
    font-family: monospace;
}
/*--------------------------------------Navigation Bar------------------------------------------*/
#navBar
{
    overflow: hidden;
    background-color: var(--navBarColor);
    opacity: 0%;
    padding: 40px 10px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 3px 3px -2px rgba(0,0,0,0);
    border-style: none;
}
#navBar a{
    float: left;
    color: var(--navTextColor);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-family: 'Rokkitt', serif;
    font-size: 30px; 
    line-height: 25px;
    border-radius: 4px;
}
#navBar #logo
{
    font-family: 'JetBrains Mono', monospace;
    font-size: 60px;
    font-weight: bold;
    transition: 0.4s;
}
#navBar-right
{
    float: right;
    margin-right: 20px;
}
#navBar a:hover
{
    background-color: var(--navBarHover);
    color: var(--black);
}
#navBar a.active
{
    background-color: var(--navBarSelect);
    color: var(--black);
}

@media screen and (max-width: 580px) {
    #navbar {
      padding: 20px 10px !important;
      box-shadow: 0 10px 10px -2px rgba(0,0,0,.2);
    }
    #navbar a {
      float: none;
      display: block;
      text-align: left;
    }
    #navbar-right {
      float: none;
    }
  }
#nav-canvas
{
    width: 100%;
    height: 129px;
    z-index:-1;
    position: fixed; 
    top: 0px; 
    left: 0px;
    transition: 0.4s;
    object-fit: cover;
    filter: blur(4px);
}
/*---------------------------------------------Title Screen------------------------------------------------------*/
#title
{
    width: 100%;
    /*height: 2500px;*/
    position: relative; 
    top: 0px; 
    left: 0px;
    transition: 0.4s;
    background-color: var(--sleekGrey);
    /*padding-bottom: 2500px;*/
    padding-top: 129px;
    z-index: 0;
}

#titleScreen
{
    position: relative;
    height: 2500px;
    width: 100%;
    z-index: 1;
}

#title-text
{
    position: relative;
    font-size: 70px;
    font-family: 'Anurati Regular';
    text-align: center;
    z-index: 2;
}

@font-face {
    font-family: 'Anurati Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Anurati Regular'), url('Anurati-Regular.woff') format('woff');
    }
@font-face {
    font-family: 'elixiaregular';
    src: url('elixia-webfont.woff2') format('woff2'),
            url('elixia-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}